@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using AspNetLesson01.Models;
@model AboutMe;
@{
	//var aboutMe = ViewBag.AboutMe as AboutMe;
	//var aboutMe = ViewData["AboutMe"] as AboutMe;
	Layout = "_Layout";
}
<div class="container">
	<div class="row mt-5">
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<div class="info">
						<form method="post" enctype="multipart/form-data" action="/about-me">

							<p>@Model.FirstName</p>
							<div class="mb-3">
								<label for="first-name" class="form-label">First name</label>
								<input type="text" class="form-control" name="firstName" value="@Model.FirstName">
							</div>
							<p>@Model.LastName</p>
							<p>@Model.Age</p>
							<p>@Model.Description</p>
							<button type="submit" class="btn btn-primary">Update</button>
						</form>
						<ul>
							@foreach (var skill in Model.Skills)
							{
								<li>
									<div>@skill.Title</div>
									<div class="progress">
										<div class="progress-bar"
											 role="progressbar"
											 style="width: @(skill.Experience.ToString() + "%")"
											 aria-valuenow="@skill.Experience"
											 aria-valuemin="0"
											 aria-valuemax="100"></div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card" id="about-me">
				<div class="card-body">
					<h5 class="card-title"></h5>
					<div class="info"></div>
					<div class="mb-3">
						<label for="search" class="form-label">Skills</label>
						<input type="text" class="form-control" id="search" placeholder="Search..." aria-describedby="emailHelp">
					</div>

					<ul id="skills">
					</ul>
				</div>
			</div>
		</div>
		<div id="edit-form" style="display: none;">
			<form id="about-me-form">
				<label for="firstName">First Name:</label>
				<input type="text" id="firstName" name="firstName" required>
				<label for="lastName">Last Name:</label>
				<input type="text" id="lastName" name="lastName" required>
				<label for="description">Description:</label>
				<textarea id="description" name="description" required></textarea>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</form>
		</div>
		<div id="about-me">
			<h5 class="card-title"></h5>
			<div class="info"></div>
			<button id="edit-btn" class="btn btn-primary">Edit About Me</button>
			<button id="save-pdf-btn" class="btn btn-success">Save as PDF</button>
		</div>
	</div>
</div>

@section Scripts {
	<script src="/js/script.js"></script>
}